{% extends "base.html" %}

{% block page-title %}Change password - {{ block.super }}{% endblock %}

{% block content %}
  <form method="post" action=".">
    {% if form.errors %}
      {% if form.non_field_errors %}
        <div>
          {{ form.non_field_errors }}
        </div>
      {% else %}
        <div>
          Please fix the errors below.
        </div>
      {% endif %}
    {% endif %}
    <fieldset>
      <legend>Change password</legend>
      <div>
        <label for="id_old_password">Current password</label>
        <div>
          {{ form.old_password }}
          {% if form.errors.old_password %}
            <span>
              {% for error in form.errors.old_password  %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div>
        <label for="id_new_password1">New password</label>
        <div>
          {{ form.new_password1 }}
          {% if form.errors.new_password1 %}
            <span>
              {% for error in form.errors.new_password1  %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div>
        <label for="id_new_password2">Confirm new password</label>
        <div>
          {{ form.new_password2 }}
          {% if form.errors.new_password2 %}
            <span>
              {% for error in form.errors.new_password2  %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div>
        <button type="submit">Change password</button>
      </div>
    </fieldset>
    {% csrf_token %}
  </form>
{% endblock %}
