{% extends "base.html" %}

{% block page-title %}Reset password - {{ block.super }}{% endblock %}

{% block content %}
  <form method="post" action=".">
    {% if form.errors %}
      {% if form.non_field_errors %}
        <div>
          {{ form.non_field_errors }}
        </div>
      {% else %}
        <div>
          Please fix the errors below.
        </div>
      {% endif %}
    {% endif %}
    <fieldset>
      <legend>Reset password</legend>
      <div>
        <label for="id_email">Email</label>
        <div>
          {{ form.email }}
          {% if form.errors.email %}
            <span>
              {% for error in form.errors.email  %}
                {{ error }}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
      <div>
        <a href="/login/">Log in</a>
        <a href="/signup/">Sign up</a>
        <button type="submit">Reset password</button>
      </div>
    </fieldset>
    {% csrf_token %}
  </form>
{% endblock %}
