*.dump
*.log
*.pgdump
*.pyc
*.sqlite3
*.un~
.env
.gunicorn.pid
.sass-cache
.venv
/leather/static/bundles
/leather/static/css/styles.css
/node_modules
/static
__py_cache__
staticfiles
webpack.stats.json
