div.homepage {
  margin-top: 50px;
}

a.logo {
  display: block;
  text-align: center;
}

a.logo:hover {
  text-decoration: none;
  text-shadow: 0px 0px 30px #0878A6;
}

div.slds-text-heading--large {
  font-size: 2.75rem;
}

.no-fixed {
  position: static !important;
}
