html, body {
  background: transparent url('/static/img/home-bg.png') top left repeat;
}

body {
  color: #272E32;
  font: normal 18px 'Helvetica', sans-serif;
  margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
