{% extends 'base.html' %}

{% load staticfiles %}

{% block body-class %}homepage{% endblock %}

{% block content %}
  <div class="slds-align--absolute-center" style="margin-top: 50px;">
    <a class="logo" href="/" style="text-align: center;">
      <img src="/static/img/logo.png" alt="" />
      <div class="slds-text-heading--large slds-m-top--large" style="font-size: 2.75rem;">Leather</div>
      <div class="slds-text-heading--medium slds-m-top--medium">
        An app for your finances.
      </div>
    </a>
  </div>
{% endblock %}
