{% extends 'base.html' %}

{% load staticfiles %}

{% block body-class %}homepage{% endblock %}

{% block content %}
  <a class="logo" href="/">
    <img src="/static/img/logo-avatar.png" alt="" />
    Leather
  </a>
  <h2>We're building a beautiful app for your finances.</h2>
  <h3>Subscribe to be notified when we're ready</h3>
  <div class="sub">
    <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="i/52/2E4/F8B/F771C2752DA1A1D5">
    </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
  </div>
{% endblock %}
