{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}
{% load humanize staticfiles %}

{% block body-class %}dashboard{% endblock %}

{% block content %}
  <div class="inner">
    <div>You are logged in as: <code>{{ request.user.username }}</code></div>
    <br />
    {% if plaid_accounts %}
      <a href="/transactions/">All transactions</a>
      <h4>Accounts:</h4>
      <ul class="connections-list group">
        {% for plaid_account in plaid_accounts|dictsort:'account_set.all.0.institution_type' %}
          <li>
            <span class="title">{{ plaid_account.account_set.all.0.institution_type }}</span>
            ({{ plaid_account.account_set.all|length }})
            <small class="last-updated">Updated {{ plaid_account.account_set.all.0.updated_at|naturaltime }}</small>
            <form action="/plaid-accounts/{{ plaid_account.id }}/delete/" method="POST" style="display: inline;">
              {% csrf_token %}
              <button type="submit"
                onclick="return confirm('Are you sure you want to delete this connection?');"
               >delete</button>
            </form>
            <ul>
              {% for account in plaid_account.account_set.all|dictsort:'name' %}
                <li>
                  <a href="/accounts/{{ account.id }}/">
                    {% firstof account.custom_name account.name %}<br />
                    <span class="type">{{ account.typ }}</span>
                    <small class="{{ account.typ }}">${{ account.balance_current }}</small>
                    {% if account.transaction_set.all.0 %}
                      <small class="last-trans">Last transaction {{ account.transaction_set.all.0.date|naturalday }}</small>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <form id="account-link" method="POST" action="/plaid-accounts/link/">
      {% csrf_token %}
    </form>
    <script
      src="https://cdn.plaid.com/link/stable/link-initialize.js"
      data-client-name="Leather"
      data-form-id="account-link"
      data-key="db7f49f5182576046eb4620403f497"
      data-product="connect"
      data-long-tail="true"
      {% if debug and debug_webhook_ip %}
        data-env="tartan"
        data-webhook="http://{{ debug_webhook_ip }}:8000/plaid/webhook/"
      {% else %}
        data-webhook="https://leatherapp.com/plaid/webhook/"
        data-env="production"
      {% endif %}
      >
    </script>
    <br />
    <br />
    {% if request.user.is_superuser %}<a href="/admin">Admin</a><br />{% endif %}
    <a href="/password/change">Change password</a><br />
    <a href="/logout">Logout</a>
  </div>
{% endblock %}
