{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block page-title %}Leather{% endblock %}</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,700" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}?f=1">
  <link rel="icon" href="{% static 'img/favicon.png' %}" />
  <script type="text/javascript">window.csrf_token = '{{ csrf_token }}';</script>
  {% if debug %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
  {% else %}
    {% render_bundle 'main' 'css' %}
  {% endif %}
  {% block head-js %}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">

  {% block content %}{% endblock %}

  {% render_bundle 'main' 'js' %}

  <script>
    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      return t;
    }(document, "script", "twitter-wjs"));
  </script>
</body>
</html>
